/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/
body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 50%;
}

h1 {
    color: blueviolet;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    background-image: linear-gradient(red,cyan);
    border-radius: 0.5em;
}

p {
    font-size: 1.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#jordans-1-desc {
    border: solid orange;
    background-color: cyan;
    border-radius: 0.5em;
}

#jordans-2-desc {
    border: solid orange;
    background-color: red;
    border-radius: 0.5em;
}

#row1-section1 {
    height: auto;
    width: 100%;
}

#row2-section1 {
    height: auto;
    width: 100%;
}